motor==3.3.2
redis==5.0.1
pendulum==3.0.0
aiohttp==3.9.3
ujson==5.9.0
python-dotenv==1.0.1
fastapi==0.109.0
slowapi==0.1.8
pydantic==2.6.0
uvicorn==0.27.0.post1
starlette==0.35.1
pymongo==4.6.1
python-dateutil==2.8.2
pytz==2023.4
pandas==2.2.0
matplotlib==3.8.2
pillow==10.2.0