aiohttp==3.9.3
coc.py==3.2.1
fastapi==0.109.0
fastapi-analytics==1.2.1
fastapi-cache2==0.2.1
matplotlib==3.8.2
motor==3.3.2
pandas==2.2.0
pendulum==3.0.0
pillow==10.2.0
pydantic==2.6.0
pymongo==4.6.1
python-dotenv==1.0.1
python-dateutil==2.8.2
python-snappy==0.6.1
pytz==2023.4
redis==5.0.1
slowapi==0.1.8
starlette==0.35.1
ujson==5.9.0
uvicorn==0.27.0.post1

