<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> <!-- Disable user scaling -->
    <title>Roster Settings</title>
    <link href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" rel="stylesheet">
    <link href="/static/output.css" rel="stylesheet">
    <link href="/static/custom.css" rel="stylesheet"> <!-- Add custom CSS here -->
    <style>
        /* Ensure input fields have a minimum font size of 16px to prevent zooming on mobile devices */
        input, select, textarea {
            font-size: 16px;
        }
    </style>
</head>
<body class="bg-black text-white font-sans">
    <div class="max-w-lg mx-auto p-6 bg-gray-800 rounded-lg shadow-md mt-10">
        <h1 class="text-2xl font-bold mb-6 text-center">Roster Settings</h1>
        <form id="rosterForm" action="/roster/submit" method="post" enctype="multipart/form-data" data-token="{{ token }}">
            <div class="mb-4">
                <label for="name" class="block text-sm font-medium">Name:</label>
                <input type="text" id="name" name="name" value="{{ initial_values.name }}" class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-white">
            </div>
            <div class="mb-4">
                <label for="townhall_min" class="block text-sm font-medium">Townhall Min:</label>
                <select id="townhall_min" name="townhall_min" class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-white">
                    {% for i in range(1, 17) %}
                        <option value="{{ i }}" {% if i == initial_values.townhall_min %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label for="townhall_max" class="block text-sm font-medium">Townhall Max:</label>
                <select id="townhall_max" name="townhall_max" class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-white">
                    {% for i in range(1, 17) %}
                        <option value="{{ i }}" {% if i == initial_values.townhall_max %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label for="max_roster_size" class="block text-sm font-medium">Max Roster Size:</label>
                <select id="max_roster_size" name="max_roster_size" class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-white">
                    {% for i in range(1, 61) %}
                        <option value="{{ i }}" {% if i == initial_values.max_roster_size %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label for="description" class="block text-sm font-medium">Description:</label>
                <textarea id="description" name="description" maxlength="100" class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-white">{{ initial_values.description }}</textarea>
            </div>
            <div class="mb-4">
                <label for="time" class="block text-sm font-medium">Time:</label>
                <input type="datetime-local" id="time" name="time" data-utc-time="{{ initial_values.time }}" class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-white">
            </div>
            <div class="mb-4">
                <label for="linked_clan" class="block text-sm font-medium">Linked Clan:</label>
                <select id="linked_clan" name="linked_clan" class="mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-white">
                    {% for clan in clans %}
                        <option value="{{ clan }}" {% if clan == initial_values.linked_clan %}selected{% endif %}>{{ clan }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label for="sort" class="block text-sm font-medium">Sort:</label>
                <select id="sort" name="sort" class="choices-multiple mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-white" multiple>
                    {% for option in initial_values.sort %}
                    <option value="{{ option }}" selected>{{ column }}</option>
                    {% endfor %}
                    {% for option in ['Name', 'Player Tag', 'Heroes', 'Townhall Level', 'Discord', '30 Day Hitrate',
                    'Current Clan', 'Clan Tag', 'War Opt Status', 'Trophies'] %}
                    {% if option not in initial_values.sort %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label for="columns" class="block text-sm font-medium">Columns:</label>
                 <select id="columns" name="columns" class="choices-multiple mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-white" multiple>
                    {% for column in initial_values.columns %}
                    <option value="{{ column }}" selected>{{ column }}</option>
                    {% endfor %}
                    {% for option in ['Name', 'Player Tag', 'Heroes', 'Townhall Level', 'Discord', '30 Day Hitrate',
                    'Current Clan', 'Clan Tag', 'War Opt Status', 'Trophies'] %}
                    {% if option not in initial_values.columns %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label for="buttons" class="block text-sm font-medium">Buttons:</label>
                <select id="buttons" name="buttons" class="choices-multiple mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-white" multiple>
                    {% for button in initial_values.buttons %}
                    <option value="{{ button }}" selected>{{ button }}</option>
                    {% endfor %}
                    {% for option in possible_buttons %}
                    {% if option not in initial_values.buttons %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label for="image" class="block text-sm font-medium mb-2">Image:</label>
                <div class="file-input-container">
                    <label class="file-input">
                        Choose File
                        <input type="file" id="image" name="image" accept="image/*">
                    </label>
                </div>
                <img id="imagePreview" src="#" alt="Image Preview" class="hidden mt-4 rounded-md shadow-md" style="max-width: 100%; height: auto;">
            </div>
            <button type="submit" class="mt-6 w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-md shadow-md">Submit</button>
        </form>
        <div id="confirmationMessage" class="hidden mt-4 text-center text-lg text-green-500 font-semibold"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script>
       document.addEventListener('DOMContentLoaded', function () {
        // Initialize Choices.js for elements with the class 'choices-multiple'
        var elements = document.querySelectorAll('.choices-multiple');
        elements.forEach(function (element) {
            new Choices(element, {
                removeItemButton: true,
                searchEnabled: true, // Ensure search is disabled
                searchChoices: true, // Disable search functionality
                shouldSort: false, // Prevent automatic sorting if not needed
                editItems: false,
            });
        });
    });

        document.getElementById('image').addEventListener('change', function(event) {
            var imagePreview = document.getElementById('imagePreview');
            var file = event.target.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    imagePreview.src = e.target.result;
                    imagePreview.classList.remove('hidden');
                }
                reader.readAsDataURL(file);
            } else {
                imagePreview.src = '#';
                imagePreview.classList.add('hidden');
            }
        });

        var timeInput = document.getElementById('time');
        var utcTime = timeInput.getAttribute('data-utc-time');
        if (utcTime) {
            console.log('Original UTC time:', utcTime);
            var date = new Date(utcTime);
            console.log('Parsed Date:', date);

            // Format the date to YYYY-MM-DDTHH:MM for datetime-local input
            var localTime = new Date(date.getTime() - (date.getTimezoneOffset() * 60000)).toISOString().slice(0, 16);
            console.log('Local time for input:', localTime);
            timeInput.value = localTime;
        }

        document.getElementById('rosterForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            var formData = new FormData();

            // Gather form data
            var formElement = document.getElementById('rosterForm');
            var nameField = formElement.name;

            // Validation: Check if the name field is empty
            if (nameField.value.trim() === '') {
                document.getElementById('confirmationMessage').innerText = "Name cannot be empty.";
                document.getElementById('confirmationMessage').classList.remove('hidden');
                document.getElementById('confirmationMessage').classList.add('text-red-500'); // Change text color to red for error
                return; // Prevent form submission
            } else {
                document.getElementById('confirmationMessage').classList.add('hidden'); // Hide the message if name is not empty
            }

            var timeValue = formElement.time.value;
            console.log('Time value from input:', timeValue);
            var timeUnix = null;
            if (timeValue) {
                // Parse the local time input as a Date object in local time
                var localDate = new Date(timeValue);
                console.log('Local Date:', localDate);

                // Convert the local time directly to Unix timestamp
                timeUnix = Math.floor(localDate.getTime() / 1000);
                console.log('Unix Timestamp in seconds:', timeUnix);
            }

            var formJSON = {
                token: formElement.dataset.token, // Add the token
                name: formElement.name.value, // Add the name
                townhall_min: formElement.townhall_min.value,
                townhall_max: formElement.townhall_max.value,
                max_roster_size: parseInt(formElement.max_roster_size.value, 10), // Ensure this is an integer
                description: formElement.description.value,
                time: timeUnix, // Use the Unix timestamp
                linked_clan: formElement.linked_clan.value,
                sort: Array.from(formElement.sort.selectedOptions).map(option => option.value),
                columns: Array.from(formElement.columns.selectedOptions).map(option => option.value),
                buttons: Array.from(formElement.buttons.selectedOptions).map(option => option.value)
            };

            // Append the JSON data to FormData
            formData.append('settings', JSON.stringify(formJSON));

            // Check if an image is selected and append it to FormData
            var imageFile = formElement.image.files[0];
            if (imageFile) {
                formData.append('image', imageFile);
            }

            // Send the form data using fetch
            fetch(formElement.action, {
                method: formElement.method,
                body: formData
            }).then(response => response.json())
              .then(data => {
                  console.log(data);
                  // Handle the response from the server
                  if (data.status === "Form submitted successfully") {
                      document.getElementById('confirmationMessage').innerText = "Settings have been saved successfully.";
                      document.getElementById('confirmationMessage').classList.remove('hidden');
                      document.getElementById('confirmationMessage').classList.remove('text-red-500'); // Remove error text color
                      document.getElementById('confirmationMessage').classList.add('text-green-500'); // Add success text color
                  }
              })
              .catch(error => {
                  console.error('Error:', error);
                  document.getElementById('confirmationMessage').innerText = "An error occurred while saving settings.";
                  document.getElementById('confirmationMessage').classList.remove('hidden');
                  document.getElementById('confirmationMessage').classList.add('text-red-500'); // Change text color to red for error
              });
        });
    </script>
</body>
</html>
